<div class="chat-message-item">
  <div class="chat-message-avatar">
    <img src="https://i.pravatar.cc/60" />
  </div>
  <div class="chat-message-area">
    <strong class="chat-message-item-user"><%= message.user.email %>:</strong>
    <span class="chat-message-item-content"><%= message.content %><span>
  </div>
</div>
