// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
$blue: #2A74A1;
$lighterBlue: #4587B0;
$evenLighterBlue: #6899B7;
$lightestBlue: #80A6BD;
$veryLightBlue: #9FBACB;
$gray: #D8DDE0;
