<div class="container">
  <h2>Call</h2>

  <%= link_to 'End Call', dashboard_path, class:"btn btn-primary" %>
    <div>
      <script>
          call = window.Daily.createFrame({
            iframeStyle: {
              position: 'right',
              border: '1px solid black',
              mode: 'grid',
              width: '1000px',
              height: '450px',
              right: '1em',
              bottom: '1em',
            },
          });
          call.join({ url: 'https://blue-harvest.daily.co/blue-harvest-public' });
      </script>
    </div>
</div>
