<div class="container">
  <h2>Call</h2>

    <div data-controller="daily-video"
          data-daily-video-target="daily">

<h2 data-action="click->daily-video#joinCall">Join Call</h2>
<h2 data-action="click->daily-video#endCall">End Call</h2>

    </div>
</div>
