<div class="container">
  <h1>Users#show</h1>
  <p>Find me in app/views/users/show.html.erb</p>

  <div><%= @user %></div>
  <div><%= @user.email %></div>
  <div><%= @user.online %></div>
  <div><%= @user.id %></div>

</div>
