<!-- Footer -->
<footer class="bg-primary text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Blue Harvest</h5>
        <p>Providing the best service in the galaxy. Connect with us to explore more!</p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Social Networks</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">
            <i class="fab fa-twitter"></i> Twitter
          </a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Info</h5>
        <p>
          <i class="fas fa-home mr-3"></i> 123 Blue Harvest St, Galaxy City, Milky Way 4567
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@talkblueharvest.me
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88
        </p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2024 All rights reserved by:
          <a href="#" class="text-warning" style="text-decoration: none;">
            <strong>Blue Harvest</strong>
          </a>
        </p>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
