<div class="container">
  <h1 class="d-flex flex-row">dashboard</h1>

<%= link_to 'Talk', new_call_path, class: 'btn btn-primary' %>
<%= link_to 'Chat', "#", class: 'btn btn-primary' %>
<%= link_to 'Listen', new_call_path, class: 'btn btn-primary' %>

</div>
