<div class="container">
  <h1>dashboard Video Call Test</h1>

  <script>
    call = window.Daily.createFrame();
    call.join({ url: 'https://blue-harvest.daily.co/blue-harvest-public' });
  </script>
</div>
