<div class="container">




  <h1 class="d-flex justify-content-center" style="margin-bottom: 100px">Blue Harvest</h1>


        <div class="d-flex justify-content-center">
        <%= image_tag("logo_con_borde.png") %>
        </div class="d-flex justify-content-center">
</div>
