<h2>Mental Health</h2>

<ul>
        <li><a href="https://example.com/argentina" target="_blank">Argentina</a></li>
        <li><a href="https://example.com/bolivia" target="_blank">Bolivia</a></li>
        <li><a href="https://example.com/brasil" target="_blank">Brasil</a></li>
        <li><a href="https://example.com/chile" target="_blank">Chile</a></li>
        <li><a href="https://example.com/colombia" target="_blank">Colombia</a></li>
        <li><a href="https://example.com/costa_rica" target="_blank">Costa Rica</a></li>
        <li><a href="https://example.com/cuba" target="_blank">Cuba</a></li>
        <li><a href="https://example.com/dominicana" target="_blank">República Dominicana</a></li>
        <li><a href="https://example.com/ecuador" target="_blank">Ecuador</a></li>
        <li><a href="https://example.com/el_salvador" target="_blank">El Salvador</a></li>
        <li><a href="https://example.com/guatemala" target="_blank">Guatemala</a></li>
        <li><a href="https://example.com/honduras" target="_blank">Honduras</a></li>
        <li><a href="https://example.com/mexico" target="_blank">México</a></li>
        <li><a href="https://example.com/nicaragua" target="_blank">Nicaragua</a></li>
        <li><a href="https://example.com/panama" target="_blank">Panamá</a></li>
        <li><a href="https://example.com/paraguay" target="_blank">Paraguay</a></li>
        <li><a href="https://example.com/peru" target="_blank">Perú</a></li>
        <li><a href="https://example.com/uruguay" target="_blank">Uruguay</a></li>
        <li><a href="https://example.com/venezuela" target="_blank">Venezuela</a></li>
    </ul>
