<% @journals.each do |journal| %>
  <p><%= link_to journal.title, journal_path(journal)%></p>
<% end %>
<%= link_to "Crear Diario", new_journal_path%>
<br>
<br>
<%= link_to "Back to Dashboard", dashboard_path%>
