// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/dashboard";


// jounrnals styling

.journals-wrapper {
  padding: 50px 200px;
}

.journals-header {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.journals-header a {
  margin-left: auto;
}

.journal-item-date {
  font-size: 13px;
  text-transform: uppercase;
  margin-top: -5px;
  color: lightgray;
  font-weight: bold;
}

  // chat styling

.live-chat-title {
  color: $blue;
}

.chat-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Adjust as needed, ensures the container fills the viewport height
}

.messages-container {
  width: 100%;
  background-color: $veryLightBlue;
  flex-grow: 1; // Allows the messages container to grow and fill available space
  overflow-y: auto; // Enables scrolling for overflow content
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#messages {
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  background-color: $lightestBlue;
}

.form-container {
  margin-top: 20px;
  background-color: $veryLightBlue;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .row {
    margin-top: 0;
  }

  .form-control {
    height: 40px;
    margin-right: 0;
  }

  .btn-custom-primary {
    background-color: $blue; // Use the blue color from your color scheme
    border-color: $blue; // Use the same color for the border
    color: #ffffff; // White text color for contrast
    height: 40px;

    &:hover {
      background-color: $lighterBlue; // A lighter shade of blue on hover
      border-color: $lighterBlue; // Same for the border
    }
  }

  .shadow-smooth {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Soft shadow
    border-radius: 5px; // Smoothed edges
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}



.chat-message-item {
  margin: 10px 50px;
  display: flex;
}

.chat-message-avatar {
  margin: 10px;
}

.chat-message-area {
  background-color: $veryLightBlue;
  padding: 5px;
  border-radius: 10px;
  flex-grow: 1;
}

.chat-message-item-user {
  display: block;
  border-bottom: 1px solid lightgrey;
  color: red;
}

.chat-message-item-content {
  color: blue;

}
