// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// jounrnals styling

.journals-wrapper {
  padding: 50px 200px;
}

.journals-header {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid $gray;
}

.journals-header a {
  margin-left: auto;
}

.journal-item-date {
  font-size: 13px;
  text-transform: uppercase;
  margin-top: -5px;
  color: lightgray;
  font-weight: bold;
}

  // chat styling

.live-chat-title {
  color: $blue;
}

.chat-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Adjust as needed, ensures the container fills the viewport height
}

.messages-container {
  width: 100%;
  flex-grow: 1; // Allows the messages container to grow and fill available space
  overflow-y: auto; // Enables scrolling for overflow content
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#messages {
  padding: 10px;
  overflow-y: auto;
  height: 100%;
}

.form-container {
  margin-top: 20px;
  background-color: $veryLightBlue;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .row {
    margin-top: 0;
  }

  .form-control {
    height: 40px;
    margin-right: 0;
  }

  .btn-custom-primary {
    background-color: $blue; // Use the blue color from your color scheme
    border-color: $blue; // Use the same color for the border
    color: #ffffff; // White text color for contrast
    height: 40px;

    &:hover {
      background-color: $lighterBlue; // A lighter shade of blue on hover
      border-color: $lighterBlue; // Same for the border
    }
  }

  .shadow-smooth {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Soft shadow
    border-radius: 5px; // Smoothed edges
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


.chat-page-container {
  height: 90vh !important;
}



.gradient-custom {
  background: $veryLightBlue;
  background: -webkit-linear-gradient(to bottom right, $veryLightBlue, $lightestBlue, $evenLighterBlue, $lighterBlue, $blue);
  background: linear-gradient(to bottom right, $veryLightBlue, $lightestBlue, $evenLighterBlue, $lighterBlue, $blue);
}

.gradient-custom .form-container {
  background-color: transparent;
}

.gradient-custom input[type=text] {
  background-color: rgb(245, 245, 245);
  border-color: $lightestBlue !important;
  color: black;
  border-radius: 5px;
  margin-right: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 45px;
}

.gradient-custom input[type=text]:focus {
  color: black;
}

.gradient-custom input[type=submit] {
  text-transform: uppercase;
  box-shadow: 0 4px 9px -4px rgba(0,0,0,.35);
  background-color: rgb(245, 245, 245);
  color: rgb(97, 97, 97);
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
    background-clip: border-box;
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.chat-message-item {
  margin: 10px 50px;
  display: flex;
}

.chat-message-avatar {
  margin: 10px;
}

.chat-message-area {
  padding: 5px;
  border-radius: 10px;
  flex-grow: 1;
}

.chat-message-item-user {
  display: block;
  border-bottom: 1px solid lightgrey;
  color: $blue;
}

.chat-message-item-content {
  color: black;
}

.reversed {
  flex-direction: row-reverse;
}



// dashboard


.profile-header {
  text-align: center;
  margin-bottom: 30px;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-description {
  font-size: 1.2em;
  margin-top: 10px;
}
.section {
  margin-bottom: 20px;
}



.stimulus-frame {
  position: fixed; /* O puedes usar 'absolute' si es más adecuado para tu layout */
  bottom: 0; /* Ajusta esto según sea necesario para posicionar correctamente el frame */
  left: 0; /* Ajusta para alinear a la izquierda, o usa 'right: 0;' para alinear a la derecha */
  z-index: 1000; /* Asegura que el frame esté sobre otros elementos; ajusta según sea necesario */
  width: 100%; /* O el ancho que desees */
}
